@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 12px;
  font-family: "Playfair Display", sans-serif;
}

header {
  background: #f3ece4;
  width: 100%;
  padding: 20px 0;
  position: fixed;
  z-index: 1000;
}

.container {
  background-color: #f3ece4;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

.logo {
  height: 50px;
}

.menu-icon {
  padding: 20px;
  background: #A6141D;
  border-radius: 3px;
  color: #f3ece4;
  font-size: 20px;
  display: none;
  transition: .25s;
}

.menu-icon:hover {
  cursor: pointer;
  background: #801017;
}

.nav-mobile {
  list-style: none;
  font-family: 'Playfair Display', serif;
  padding: 0;
  background: #fff;
  max-height: 0;
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  visibility: hidden;
  border-radius: 0;
  opacity: 0;
  transform: rotate(180deg);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.nav-mobile.open {
  max-height: 500px;
  visibility: visible;
  opacity: 1;
  transform: rotate(0);
}

.nav-mobile li a {
  padding: 12px 0;
  display: block;
  transition: .25s;
  color: #A6141D;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.nav-mobile li a:hover {
  background: #ffffff;
}

.nav-desktop {
  display: flex;
  gap: 30px;
}

.nav-desktop a {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #A6141D;
  text-decoration: none;
  transition: 0.3s;
}

.nav-desktop a:hover {
  color: #801017;
}

@media screen and (max-width: 1023px) {
  .nav-desktop {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .nav-mobile {
    display: block;
  }
}

@keyframes bounce {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: -15px;
    margin-bottom: 15px;
  }

  100% {
    margin-top: 0;
  }
}

.Sobre {
  display: flex;
  background-color: #111;
  justify-content: space-between;
  padding: 60px 5vw;
  gap: 40px;
  flex-wrap: wrap;
}

.oneBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 300px;
}

.oneBox span {
  color: #fff;
  background-color: #A6141D;
  font-size: 2rem;
  display: block;
  padding: 5px 10px;
  width: fit-content;
  font-family: 'Playfair Display SC';
}

.twoBox {
  font-family: 'Georgia', serif;
  flex: 1 1 300px;
  font-size: 1rem;
  line-height: 1.7;
  max-width: 600px;
  color: #E8E3DD;
}

.content-carrosel {
  background-color: #111;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 520px;
  width: 935px;
  overflow: hidden;
  position: relative;
  background-color: #E8E3DD;
  margin: 20px;
}

.slides {
  display: flex;
  width: 600%;
  height: 100%;
  transition: margin-left 0.6s ease;
}

.slide {
  width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 70px;
  height: 17px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 0;
  cursor: pointer;
  transition: 0.6s;
}

.bar:hover {
  background-color: #A6141D;
}

input {
  display: none;
}

#slide1:checked~.slides {
  margin-left: 0;
}

#slide2:checked~.slides {
  margin-left: -100%;
}

#slide3:checked~.slides {
  margin-left: -200%;
}

#slide4:checked~.slides {
  margin-left: -300%;
}

#slide5:checked~.slides {
  margin-left: -400%;
}

#slide6:checked~.slides {
  margin-left: -500%;
}

@media (max-width: 600px) {
  .content {
    height: 360px;
  }

  .bar {
    width: 30px;
    height: 10px;
  }
}